<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="pcs.css.persistance.mapper.ICommentsMapper">

    <select id="getCommentsInfo" parameterType="CommentsDTO">

        INSERT INTO COMMENTSINFO
            (
                SEQ, WRITE, CONTENTS, REG_DT
            )
            VALUE (
            (SELECT NVL(MAX(A.SEQ),0)+1 FROM SEQ A),
            #{write}, #{contents}, SYSDATE
            )


    </select>

</mapper>