<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "=//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pcs.css.persistance.mapper.IMainMapper">



    <select id="SearchMainList" parameterType="MainDTO" resultType="MainDTO">
     SELECT C.C_NAME, C.AREA, C.DEADLINE, C.CANDIDATE, C.ORGANIZER, C.S_YEAR, C.B_YEAR, C.R_DATE, C.URL

         FROM COMPETITION C,DUAL
    WHERE


        <![CDATA[
           c_name LIKE '%'||#{c_name,jdbcType=VARCHAR}||'%'
  ]]>

        <if test="area != null">

            <![CDATA[  AND area LIKE '%'||#{area,jdbcType=VARCHAR}||'%' ]]>
            </if>




        <if test= "deadline != null">
            <![CDATA[    AND TO_CHAR(deadline,'mmdd') >= #{deadline,jdbcType=VARCHAR}]]>
        </if>

        <if test= "candidate != '전체'">
          <if test="candidate != null">
             AND candidate = #{candidate,jdbcType=VARCHAR}
          </if>
        </if>
        <if test= "s_organizer != null">
           AND organizer in
            <foreach collection="s_organizer" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="s_year !=null and s_year!='전체'">
            <![CDATA[  AND s_year  <= #{s_year,jdbcType=VARCHAR} AND deadline >= #{s_year,jdbcType=VARCHAR}]]>
        </if>
        <if test= "b_year != null">
            <![CDATA[  AND b_year LIKE '%'||#{b_year,jdbcType=VARCHAR}||'%' ]]>
        </if>

  ORDER BY R_DATE DESC
    </select>
    <select id="getMainList" parameterType="MainDTO" resultType="MainDTO">
    SELECT C.C_NAME, C.AREA, C.DEADLINE, C.CANDIDATE, C.ORGANIZER, C.S_YEAR, C.B_YEAR, C.R_DATE, C.URL

    FROM COMPETITION C,DUAL
    ORDER BY R_DATE desc
    </select>
    <insert id="InsertMainInfo" parameterType="MainDTO">
        INSERT INTO COMPETITION
        (
            C_NAME, AREA, DEADLINE, CANDIDATE, ORGANIZER, S_YEAR, B_YEAR, R_DATE, URL
        )
        VALUES(
                      #{c_name}, #{area}, #{deadline}, #{candidate}, #{organizer}, #{s_year}, #{b_year}, SYSDATE,#{url}

              )
    </insert>
    <select id="getMainExists" parameterType="MainDTO" resultType="MainDTO">
        SELECT DECODE(COUNT(1), 0, 'N', 'Y') AS EXISTS_YN
        FROM COMPETITION
        WHERE C_NAME = #{c_name}
    </select>

</mapper>