<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "=//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pcs.css.persistance.mapper.IMainMapper">



    <select id="SearchMainList" parameterType="MainDTO" resultType="MainDTO">
     SELECT C.C_NAME, C.AREA, C.DEADLINE, C.CANDIDATE, C.ORGANIZER, C.S_YEAR, C.B_YEAR, C.R_DATE, C.URL

         FROM COMPETITION C,DUAL
    WHERE


        <![CDATA[
           c_name LIKE '%'||#{c_name,jdbcType=VARCHAR}||'%'
  ]]>

        <if test="area != null">

            <![CDATA[  AND area LIKE '%'||#{area,jdbcType=VARCHAR}||'%' ]]>
            </if>




        <if test= "deadline != null">
            <![CDATA[    AND TO_CHAR(deadline,'mmdd') >= #{deadline,jdbcType=VARCHAR}]]>
        </if>

        <if test= "candidate != '전체'">
          <if test="candidate != null">
             AND candidate = #{candidate,jdbcType=VARCHAR}
          </if>
        </if>
        <if test= "organizer != null">
           AND organzier in
            <foreach collection="organizer" item="item" index="index" separator="," open="(" close=")">
                #{organzier,jdbcType=VARCHAR}
            </foreach>
        </if>
      <!--  <if test="s_year !=null">
            <![CDATA[  AND TO_CHAR(s_year,'yyyymmdd')  <= '%'||#{s_year,jdbcType=VARCHAR}||'%']]>
        </if>
        <if test= "b_year != null">
            <![CDATA[  AND b_year LIKE '%'||#{b_year,jdbcType=VARCHAR}||'%' ]]>
        </if>-->

  ORDER BY S_YEAR DESC
    </select>


</mapper>